/* General body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Profile Card Styling */
.profile-card {
    background-color: white;
    width: 450px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Profile Image */
.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #530994;
    object-fit: cover;
}

/* Profile Info */
.profile-info h2 {
    font-size: 24px;
    margin: 10px 0 5px;
    color: #333;
}

.profile-info p {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
}

/* Social Media Links */
.social-profile {
    margin-top: 20px;
}

.social-profile a {
    text-decoration: none;
    color: white;
    background-color: #3498db;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    font-size: 14px;
    transition: background-color 0.3s;
}

.social-profile a:hover {
    background-color: #2980b9;
}

.profile-datetime {
    position: auto;
    padding-top: 20px;
    bottom: 10px;
    padding-left: 250px;
    font-size: 12px;
    color: #555;
}